* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

$bg-color: #b0afaf;
$bg-modal-color: #fefefe;
$text-color: #487bd8;

a {
  color: inherit;
  text-decoration: none;
  background: $bg-color;
  border: 2px solid $text-color;
  padding: 5px;
  margin: 20px;
  border-top: 1px solid transparent;
  display: inline-block;
}

body {
  background: $bg-modal-color;
  color: $text-color;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.shadow {
  width: 100%;
  height: 100%;
  background: $bg-color;
  opacity: 0.7;
  display: none;
  position: fixed;
  z-index: 1;
}

.container {
  max-width: calc(1000px - 60px);
  background: rgb(42, 87, 46);
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 80px;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 540px;
  min-height: 320px;
  background: #fefefe;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-out;
  z-index: 1;
  .wrapper {
    width: 100%;
    height: 100%;
    padding: 50px 20px 40px 50px;
    display: flex;
    position: relative;
    .close {
      position: absolute;
      top: 8%;
      left: 7%;
      transform: translate(-50%, -50%);
      border: 2px solid $text-color;
      width: 22px;
      cursor: pointer;
      span {
        display: block;
        margin: 0 auto;
        width: 8px;
      }
    }
    .input {
      width: 80%;
      p {
        width: 100%;
        &:nth-child(odd) {
          padding: 5px 25px 10px;
          max-height: 36px;
          height: 100%;
          border: 2px solid $text-color;
          border-width: 1px 2px 1px 3px;
        }
        &:nth-child(even) {
          padding: 15px 25px 20px;
          max-height: 54px;
          height: 100%;
          border: solid $text-color;
          border-width: 1px 2px 1px 3px;
        }
        &:nth-child(5) {
          border-left: 2px solid $bg-modal-color;
          border-right: 2px solid $bg-modal-color;
        }
        &:first-child {
          border-top: 3px solid $bg-modal-color;
          border-left: 3px solid $bg-modal-color;
        }
        &.form {
          display: flex;
          width: 100%;
          justify-content: space-between;
          input {
            width: 30%;
            outline: none;
            border: 2px solid $text-color;
            font-size: 10px;
          }
          &.text {
            padding-left: 0;
            border-bottom: 2px solid transparent;
          }
        }
      }
      .btn {
        border: 2px solid $text-color;
        padding: 5px;
        font-size: 10px;
        & + .btn {
          margin-left: 30px;
        }
      }
    }
    .result {
      width: 20%;
      text-align: center;
      p {
        text-transform: capitalize;
        font-size: 12px;
        width: 100%;
        &:first-child {
          font-size: 15px;
        }
        &:nth-child(odd) {
          padding: 5px 0 10px;
          max-height: 36px;
          height: 100%;
          border: solid $text-color;
          border-width: 1px 2px 1px 2px;
        }
        &:nth-child(even) {
          padding: 15px 0 20px;
          max-height: 55px;
          height: 100%;
          border-style: solid;
          border-color: $text-color;
          border-width: 2px 2px 2px 2px;
        }
        &:last-child {
          border-color: $text-color;
          border-bottom: 3px solid $text-color;
        }
      }
    }
    .vertical {
      position: absolute;
      border: 2px solid $text-color;
      display: flex;
      flex-direction: column;
      top: 50%;
      left: 36px;
      transform: translate(-50%, -50%);
      padding: 5px;
      input {
        width: 20px;
        height: 20px;
        & + input {
          margin-top: 10px;
        }
      }
    }
  }
}
